body {
  margin: 5%;
  width: 50%;
}
ul {
  list-style-type: none;
}
nav ul {
  height: 1.5em;
}
nav ul li {
  float: left;
  padding: 0.125em;
}
img {
  float: left;
  height: 2em;
  margin-right: 0.5em;
  width: 2em;
}
