main {
  margin-left: 2em;
  max-width: 50em;
  min-width: 30em;
}
section {
  margin-bottom: 0.5em;
  padding: 1em;
}
section, div, span, a, p, em {
  border: 2px solid black;
  margin-right: 0.5em;
  padding: 1em;
}
.example {
  position: relative;
  width: 75%;
}
.relative {
  position: relative;
  top: 20%;
  left: 20%;
}
.absolute {
  position: absolute;
  top: 0;
  left: 10%;
}
.fixed {
  position: fixed;
  top: 90%;
  left: 50%;
}
.sticky {
  position: sticky;
  top: 10%;
}
